@model Webnc.Models.KhachHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6" style="margin:25px; width:96%">
    <div class="card mb-4">
        <h4 class="card-header" style="text-align:center">Sửa nhân viên</h4>
        <div class="card-body">
            <div class="mt-2 mb-3">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaKh" />
                    <div class="card-body">
                        <div class="mt-2 mb-3">
                            <h5>Tên đăng nhập</h5>
                            <input asp-for="TenDn" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <h5>Mật khẩu</h5>
                            <input asp-for="MatKhau" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <h5>Họ tên</h5>
                            <input asp-for="HoTen" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <h5>Địa chỉ</h5>
                            <input asp-for="DiaChi" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <h5>Số điện thoại</h5>
                            <input asp-for="DienThoai" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <h5>Email</h5>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="mt-2 mb-3">
                            <label class="form-check-label">
                                <h5>Hiệu Lực</h5>
                                <input class="form-check-input" asp-for="HieuLuc" />
                            </label>
                        </div>
                        </br>
                        <div style="text-align:right">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <div class="btn btn-outline-secondary white-hover-link" style="margin-left: 20px;">
                                <a asp-action="Index">Trở về</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
