@model Webnc.ViewModels.HangHoaVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6" style="margin:25px; width:96%">
    <div class="card mb-4">
        <h5 class="card-header" style="text-align:center">Chỉnh Sửa Hàng Hóa</h5>

        <div class="card-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaHh" />
                <input type="hidden" asp-for="Hinh" /> <!-- Giữ lại đường dẫn hình cũ -->
                <div class="mt-2 mb-3">
                    <label for="TenHH" class="form-label">Tên Hàng Hóa</label>
                    <input asp-for="TenHH" class="form-control" />
                    <span asp-validation-for="TenHH" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3">
                    <label for="MaLoai" class="form-label">Loại Hàng</label>
                    <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                    <span asp-validation-for="MaLoai" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3">
                    <label for="DonGia" class="form-label">Đơn Giá</label>
                    <input asp-for="DonGia" class="form-control" />
                    <span asp-validation-for="DonGia" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3">
                    <h6>Hình Ảnh</h6>
                    <div class="row">
                        <div class="col-md-5">
                            <input asp-for="HinhFile" class="form-control" type="file" onchange="previewImage(this)" />
                            <span asp-validation-for="HinhFile" class="text-danger"></span>
                        </div>
                        <div class="col-md-7">
                            <!-- Hiển thị hình ảnh hiện tại nếu không có hình ảnh mới được chọn -->
                            @*   <img id="preview-image" src="@(string.IsNullOrEmpty(Model.Hinh) ? "" : Url.Content(Model.Hinh))" alt="Hình ảnh hiện tại" style="max-width: 550px; margin-top: 10px;" />
                            </div> *@
                            <img id="preview-image" src="~/Hinh/HangHoa/@(System.IO.Path.GetFileName(Model.Hinh))" alt="Hình ảnh hiện tại" style="max-width: 550px; margin-top: 10px;" />

                        </div>
                    </div>
                    <div class="mt-2 mb-3">
                        <label for="MoTaNgan" class="form-label">Mô Tả</label>
                        <input asp-for="MoTaNgan" class="form-control" />
                        <span asp-validation-for="MoTaNgan" class="text-danger"></span>
                    </div>
                    <div class="mt-2 mb-3">
                        <label for="MaTh" class="form-label">Thương Hiệu</label>
                        <select asp-for="MaTh" class="form-control" asp-items="ViewBag.MaTh"></select>
                        <span asp-validation-for="MaTh" class="text-danger"></span>
                    </div>
                    <div class="mt-2 mb-3">
                        <label for="SoLuongTon" class="form-label">Số Lượng Tồn</label>
                        <input asp-for="SoLuongTon" class="form-control" />
                        <span asp-validation-for="SoLuongTon" class="text-danger"></span>
                    </div>
                    <div style="text-align:right">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Quay Về</a>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview-image').attr('src', e.target.result);
                $('#preview-image').show(); // Hiển thị hình ảnh mới
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
