
@{
    ViewData["Title"] = "TuChoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6" style="margin:25px; width:96%">
    <div class="card mb-4">
        <h5 class="card-header" style="text-align:center"> Bạn không có quyền sử dụng chức năng này </h5>
    </div>
</div>

